<ion-view title="" id="welcome-view" hide-nav-bar="true">
    <ion-content>
        <div  class="logo-welcome"></div>
        <div class="login-btns">
            <div id="social-links">
                <ul>
                    <li ng-click="fbLogin()" id="FBbt" style="visibility: hidden;"  ><span class="ifacebook"><img src="img/social-icons/facebook.png"></span><a href="#" class="afacebook">sign in with facebook</a></li>

                    <li ng-click="phonelogin()" id="Pnbt" style="visibility: hidden;"  ><span class="itwitter"><img src="img/social-icons/phone.png"></span><a href="#" class="atwitter"> sign in with Phone number  </a></li>
                </ul>
            </div>
        </div>
    </ion-content>
    <div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">PIE Vote</div>
    </div>
</ion-view>
